In [15]:
import pandas as pd

# File paths for the two CSVs
csv1_path = 'D:\\Semester 7\\NLP\\project\\SemEval-Task-8-Table_Answering\\data\\queries_with_answers.csv'
csv2_path = 'D:\\Semester 7\\NLP\\project\\SemEval-Task-8-Table_Answering\\data\\queries_with_answers_final_4.csv'

# Specify the column to compare
actual_answer = 'actual_answer'
our_answer = 'answers'


# Read the first 45 rows from the first CSV
df1 = pd.read_csv(csv1_path)

# Read the second CSV completely
df2 = pd.read_csv(csv2_path)

print(len(df1['actual_answer']))

# Check if the column exists in both files
if actual_answer not in df1.columns or our_answer not in df2.columns:
    raise ValueError(f"The column '{our_answer}' OR '{actual_answer}' must exist in both CSV files.")

# Ensure the lengths match (compare only the first 45 rows of the second CSV as well)
if len(df1[actual_answer]) > len(df2[our_answer]):
    raise ValueError("The second CSV has fewer rows than the specified number of rows in the first CSV.")

1308

ValueError: The second CSV has fewer rows than the specified number of rows in the first CSV.

In [12]:
print("The first 45 rows of the first CSV:")
print(df1['answer'])

print("\nThe first 45 rows of the second CSV:")
print(df2['answer'])

The first 45 rows of the first CSV:
0                                                  True
1                                                  True
2                                                  True
3                                                  True
4                                                 False
5                                                  19.0
6                                                   343
7                                                583600
8                                                    25
9                                                     3
10                                           Automotive
11                                        United States
12                                                    M
13                                           drugstores
14                                                  NaN
15                  ['United States', 'China', 'India']
16    ['real estate', 'investments', 'pharmaceutical...
17               ['', 'Los Angeles', 'Jiaozuo', 'Oslo']
18        ['Logistics', 'Sports', 'Gambling & Casinos']
19                              ['Colombia', 'Andorra']
20                                  [3, 10, 14, 16, 18]
21                                   [48.0, 83.0, 83.0]
22      [171000, 129000, 111000, 107000, 106000, 91400]
23                                     [14, 18, 21, 30]
24                                      [219000, 44800]
25                                                 True
26                                                 True
27                                                 True
28                                                 True
29                                                    3
30                                                 80.0
31                                                  604
32                                                32.31
33                                                    1
34                                               female
35                                                 0-50
36                                                18-30
37                                            [1, 2, 3]
38                        ['50-100', '150+', '100-150']
39                    ['30-50', '18-30', '0-18', '50+']
40                                   ['female', 'male']
41                                         [80, 63, 63]
42                     [512.239, 512.239, 512.239, 263]
43                                            [1, 1, 1]
44                                         [0, 0, 0, 0]
Name: answer, dtype: object

The first 45 rows of the second CSV:
0                                                 ERROR
1                                                 ERROR
2                                                  True
3                                                  True
4                                                 False
5                                                  19.0
6                                                   343
7                                                 ERROR
8                                                   25
9                                                     3
10                                                ERROR
11                                        United States
12
13                                           drugstores
14                                                  NaN
15                  ['United States', 'China', 'India']
16    ['real estate', 'investments', 'pharmaceutical...
17                                                ERROR
18                                                  NaN
19                              ['Colombia', 'Andorra']
20                                  [3, 10, 14, 16, 18]
21                                   [48.0, 83.0, 83.0]
22      [171000, 129000, 111000, 107000, 106000, 91400]
23                                     [14, 18, 21, 30]
24                                                   []
25                                                 True
26                                                 True
27                                                 True
28                                                 True
29                                                    3
30                                                 80.0
31                                                  604
32                                                32.31
33                                                    1
34                                               female
35                                                 0-50
36                                                    2
37                                            [1, 2, 3]
38                                                ERROR
39                                                ERROR
40                                   ['female', 'male']
41                                         [80, 63, 63]
42                     [512.239, 512.239, 512.239, 263]
43                                            [1, 1, 1]
44                                         [0, 0, 0, 0]
Name: answer, dtype: object

In [13]:
# Compute the accuracy (only for the first 45 rows of df2)
matches = (df1[column_name] == df2[column_name][:45]).sum()
total = len(df1[column_name])
accuracy = (matches / total) * 100

# Print the accuracy
print(f"Accuracy: {accuracy:.2f}% ({matches}/{total} matches)")

Accuracy: 71.11% (32/45 matches)